$primary_color_1_1: #fcd804;
$primary_color_1_2: #e9283a;
$primary_color_1_3: #e96c77;
$primary_color_1_4: #f2b7bc;

$neutral_color_1_1: #414141;
$neutral_color_1_2: #001529;
$neutral_color_1_3: #808a94;
$neutral_color_1_4: #adb4bb;
$neutral_color_1_5: #bfc4c9;
$neutral_color_1_6: #dfe2e4;
$neutral_color_1_7: #f0f2f5;
$neutral_color_1_8: #ffffff;

$accent_color_1_1: #1c655e;
$accent_color_1_2: #3caea4;
$accent_color_1_3: #6ed7d3;
$accent_color_1_4: #a8efeb;

$accent_color_2_1: #197742;
$accent_color_2_2: #38c173;
$accent_color_2_3: #74d99f;
$accent_color_2_4: #a9eec1;

$accent_color_3_1: #8c6c1f;
$accent_color_3_2: #f4ca64;
$accent_color_3_3: #fbe2a0;
$accent_color_3_4: #fdf4d7;

$accent_color_4_1: #891b1a;
$accent_color_4_2: #dc3030;
$accent_color_4_3: #e46463;
$accent_color_4_4: #f5a9a9;

$accent_color_5_1: #2980b0;
$accent_color_5_2: #40baff;
$accent_color_5_3: #80d2ff;
$accent_color_5_4: #bfe8ff;
$accent_color_5_5: #0f5c97;
$accent_color_5_6: #27aae1;

$Regular: "San Francisco Display";
$Semibold: "San Francisco Display Semibold";
$Bold: "San Francisco Display Bold";
$Medium: "San Francisco Display Medium";

$white: #fff;
$black: #000;
$blackDark: #1c1d1f;
$main1: #ff4d58;
$main2: #df2189;
$silver: #7f8c8d;
$silverDark: #777;
$silverlight: #aaa;
$silverLight-50: #d4cfcf;
$silverLight-45: #e2e4eb;
$silverLight-40: #f6f6fb;
$orange: #fbbf24;
$green: #34d399;
